.logout {
    margin-left: 2rem;
}

.logout:hover,
.logo:hover {
    cursor: pointer;
}

.logo {}


.btn-header {
    text-decoration: none;
    color: #000000;
    position: relative;
    margin-left: 3rem;
    color: black;
    font-size: 1.5rem;
}

.btn-header:hover {
    cursor: pointer;
    text-decoration: none;
    color: #64B5F6;
}

.btn-header:after {
    content: "";
    position: absolute;
    background-color: #64B5F6;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.2s;
}

.btn-header:hover:after {
    width: 100%;
}